<html>
<head>
	<title>Boro Cleaners</title>
</head>
<body>


<div id="services"><h1 id='servicesheading'>Our Services</h1><a href="#top" id='servicestop'>To Top</a><a href="#about" id='servicesabout'>About Us</a><a href="#contact" id='servicescontact'>Contact Us</a>

<p id='row1'>Dry Cleaning<br><br><br>
Traditional Laundered Shirt Service<br><br><br>
Furs and Leather Cleaning<br><br><br>
Wedding Dress Cleaning and Preservation</p>
<p id='row2'>Flat Work Laundry Service<br><br><br>
Household Items<br><br><br>
Alterations<br><br><br>
Laundry Jean Service</p>
<p id='row3'>Wash/Dry/Fold Laundry Service<br><br><br>
Designer Purse/Handbag Cleaning<br><br><br>
Pick-up and Delivery Service</p>
<p id='servant'>**Call us if you have any questions about our services or have additional needs.  (908) 464-5784</p>
</div>

<div id='about'><h1 id='aboutheading'>About Us</h1><a href="#top" id='abouttop'>To Top</a><a href="#services" id='aboutservices'>Services</a><a href="#contact" id='aboutcontact'>Contact Us</a>
<p id='explanation'>We strive to pursue perfection, in service and in quality. Come experience our service - we are here to help you. We offer Dry Cleaning, Tailoring, Leather & Suede Cleaning plus many other services.  All of this is done with the finest care and attention to detail. Come and try us out, we look forward to helping you with all of your garment care needs.</p>
</div>
<div id='contact'><h1 id='contactheading'>Contact Us</h1><a href="#top" id='contacttop'>To Top</a><a href="#services" id='contactservices'>Services</a><a href="#about" id='contactabout'>About Us</a>

<div id="address1">
<p id='addy1'>37 South St, New Providence, NJ 07974</p>
<p id='phone1'>(908) 464-5784</p>
<p id='schedule'>Monday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7AM-6PM<br>Tuesday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7AM-6PM<br>Wednesday&nbsp;&nbsp;7AM-6PM<br>Thursday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7AM-6PM<br>Friday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7AM-6PM<br>Saturday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7AM-6PM<br>Sunday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CLOSED</p>
<iframe id='map' src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12098.415325757687!2d-74.406166!3d40.704722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf69f8d3c81b1f365!2sBoro+Cleaners+Inc!5e0!3m2!1sen!2sus!4v1431833712085" width="600" height="450" frameborder="1" style="border:1"></iframe>
</div>	

</div>

<div id='house'>
<img src="http://i1301.photobucket.com/albums/ag119/jabattack1/house%20tree_zpsppovtbqk.png" id='onhill'>
<!-- <img src="http://i1301.photobucket.com/albums/ag119/jabattack1/tree_zpspsfofy7t.png" id='tree'> -->
</div>

</body>
</html>