<html>
<head>
	<title>Boro Cleaners</title>
</head>
<body>


<div id="services">SERVICES YO<a href="#top">to top</a></div>
<div id='about'>YO WE COOL<a href="#top">to top</a></div>
<div id='contact'>Contact<a href="#top">to top</a></div>
<div id='house'>
<img src="http://i1301.photobucket.com/albums/ag119/jabattack1/houseplease_zpsbcl4ondh.png" id='onhill'>
<!-- <img src="http://i1301.photobucket.com/albums/ag119/jabattack1/hosue_zpsxzbul3ey.png" id='houseonhill'> -->
</div>
</body>
</html>