<!DOCTYPE html>
<html>
<head>
  <title>Boro Cleaners</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<link rel="shortcut icon" href="http://i1301.photobucket.com/albums/ag119/jabattack1/hanger_zpseq7byhe9.png">
<link rel="stylesheet" href="animate.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Belleza" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Allura" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">

<body>

<div id="logobox">
<img src='http://i1301.photobucket.com/albums/ag119/jabattack1/Boro_zpsxsvjywow.png' id='boro'>
<img src='http://i1301.photobucket.com/albums/ag119/jabattack1/Cleaners_zpsh6jodedm.png' id='cleaners'>
</div>

<%= yield %>


</body>

<script>
    
</script>
</html>
